/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
// similar to: Unit Rounded OT
@import url(https://fonts.googleapis.com/css2?family=Signika+Negative);

// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fff;

$mainColor: #567585;
$headingColor: #f3c23e;

$mainFontSize: 42px;
$mainFont: 'Lucida Sans', Helvetica, sans-serif;
$headingFont: 'Signika Negative', Helvetica, sans-serif;
$headingTextShadow: none; // none;
$headingLetterSpacing: normal;
$headingTextTransform: none; // uppercase
$headingFontWeight: 600;
$linkColor: #79a8cb;
$linkColorHover: darken( $linkColor, 25% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

// Change text colors against dark slide backgrounds
@include dark-bg-text-color(lighten( $mainColor, 50% ));


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
